.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 100%;
  padding-top: 12px;

}

.column-form {
  flex: 1;
  max-width: 30%;
}

.column-list {
  flex: 2;
  max-width: 70%;
  padding-right: 200px;
}

