header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  padding-top: 30px;
}

header img {
  max-width: 100%; /* Ajusta el tamaño de la imagen */
  height: 200px; /* Mantiene la proporción de la imagen */
}
